
 /* if desktop */
.mobile_device {
    display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
    .mobile_device{display: block;}       
    .desktop {display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
   .mobile_device{display: block;}
   .desktop {display: none;}
}

.desktop {
  background-color: rgba(30, 30, 30, 0)
}

.gallery {
  display: flex;
  transition: 0.3s;
  padding: 50px;
  position: absolute;  background: rgba(45, 45, 45, 1)
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 100% 
}
.gallery__link {
  margin: 15px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;

}
.gallery__image {
  color: black;
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.03);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
  transition: 0.3s;
}

.header {
    padding: 50px 100px 200px;
    z-index: 1;
}

.title {
  font-family: sf_ui__textheavy;
  font-size: 100px;
  color: white;
  text-decoration: none;
}

.title_subscript {
  font-family: sf_ui__textregular;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.starfield {
  position: absolute;
  width: 150%;
  height: auto;
  z-index: -1;
}