.full_image {
	position: fixed;
	height: 99%;
	widows: auto;
}
.rig_image {
	position: absolute;
	width: 15%;
	margin: 3% 68% 0%;
}
.closeup_image {
	position: absolute;
	width: 15%;
	margin: 3% 68% 0%;
}
.image_text {
	position: relative;
	margin: 3% 34% 0%;
	font-family: sf_ui__textregular;
 	font-size: 22px;
 	width: 30%;
 	line-height: 32px;
}
.text {
	position: relative;
	margin: 3% 34% 0%;
	font-family: sf_ui__textregular;
 	font-size: 22px;
 	width: 50%;
 	line-height: 32px;
}
.image_desc {
	position: absolute;
	top: 125px;
	margin: 23% 68% 0%;
	font-family: sf_ui__textregular;
 	font-size: 22px;
 	width: 16.5%;
 	line-height: 32px;
}
.header {
	position: relative;
	top: 7%;
	margin: 0% 33% 0%;
	font-family: sf_ui__textheavy;
 	font-size: 100px;
 	width: 55.6%;
}
.sub_header {
	position: relative;
	margin: 0% 35% 0%;
	font-family: sf_ui__textheavy;
 	font-size: 50px;
 	width: 55.6%;
}